.header{
    height:350px;
}
.section1{
    margin:0 auto 80px;
    overflow: hidden;
}
.section1 h2{
    color:#f1c40f;
    font-weight: normal;
    text-align:center;
    margin: 80px 0;
}
.section1 img{
    width: 100%;
    vertical-align: top;
}
.section1 div{
    position: relative;
    overflow: hidden;
    width: 33.3%;
    float: left;
    z-index: 1;
}
.section1 div.md-img{
    float: right;
    width: 66.66%;
}
.section1 div.md-img+div img{
    height:444px;
}
.section1 div:hover{
    opacity: .8;
    cursor: pointer;
}
.section1 div::after{
    content: '特色产品';
    display: block;
    background-color: #000;
    opacity: 0;
    width: 100%;
    height:70px;
    position: absolute;
    transition: .5s all ease;
    bottom:-70px;
    color: #fff;
    text-align: center;
    line-height: 70px;
}
.section1 div:hover::after{
    bottom:0;
    opacity:.6;
}
.lighting-box{
    position: absolute;
    background: #000;
    width:100%;
    top:0;
    z-index: 5;
    opacity: .5;
    display: none;
}
.lighting-box-pic{
    position: fixed;
    z-index: 0;
    top:0;
    opacity: 0;
    transition: .3s all ease;
}